@font-face {
    font-family: 'ClashDisplay-Variable';
   src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
  url('/fonts/ClashDisplay-Variable.woff') format('woff'),
  url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-style: normal;}

body {
    background-color: #131313;
    overflow-x: hidden;
    margin: 0;
}    

div {
    margin-bottom: -6vh;
}    

#perlogo {
    margin-top: 4vh;
    width: 8vw;
    height: auto;
    color: #fffdf0;
    margin-bottom: -5vh;
}


#main-text {
    display: flex;
    width: 100vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #fffdf0;
    font-family: 'ClashDisplay-Variable';
    font-weight: 700;
    font-size: 5vh;
}


#sub-text {
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #fffdf0;
    font-family: 'ClashDisplay-Variable';
    font-weight: 200;
    font-size: 2vh;
}

#contact-text {
    display: flex;
    width: 100vw;
    height: auto;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #fffdf0;
    font-family: 'ClashDisplay-Variable';
    font-weight: 700;
    font-size: 3vh;
}

#contact-link {
    display: flex;
    width: 100vw;
    height: auto;
    margin-top: 9vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: #fffdf0;
    font-family: 'ClashDisplay-Variable';
    font-weight: 200;
    font-size: 2vh;
}